# MAKE A COPY OF THIS AND RENAME THE COPY TO .env

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=codebloom
DATABASE_USER=postgres
DATABASE_PASSWORD=enterpasswordhere
# With the example values, this gets combined inside of the application.properties to make
# jdbc://postgresql://localhost:5432/codebloom?user=postgres&password=enterpasswordhere

# For Discord authentication, pretty self explanatory.
DISCORD_CLIENT_ID=
DISCORD_CHANNEL_ID=
DISCORD_CLIENT_SECRET=

# Discord server ID & channel ID that we consider our "home base". This channel will receive weekly messages
# on the performance of the Patina tagged users.
DISCORD_PATINA_GUILD_ID=
DISCORD_PATINA_LEETCODE_CHANNEL_ID=

# Discord server ID & channel ID that we use for our custom reporter. Errors go here.
DISCORD_REPORTING_GUILD_ID=
DISCORD_REPORTING_CHANNEL_ID=

# Discord server ID & channel ID that we use for our custom reporter. Logs go here.
DISCORD_REPORTING_LOG_GUILD_ID=
DISCORD_REPORTING_LOG_CHANNEL_ID=

# For the auth token stealer.
GH_USERNAME=
GH_PASSWORD=

# You must attach the email used for the Github account, as the GitHub page may require a 2FA code.
# As of right now, you must use port 143 as it is configured to use unencrypted IMAP.
#
# TODO - Replace 143 with 993 to be secure.
GH_EMAIL_HOST=
GH_EMAIL_PORT=143
GH_EMAIL_TYPE=
GH_EMAIL_USERNAME=
GH_EMAIL_PASSWORD=

# This email will be used to send school verification messages. This is separated from Github since
# we only use one official email for sending these messages, but have a variety of GitHub accounts
# between dev, staging, and prod. You must use TLS (port 587) as that is what it is configured for.
CODEBLOOM_EMAIL_HOST=
CODEBLOOM_EMAIL_PORT=587
CODEBLOOM_EMAIL_TYPE=
CODEBLOOM_EMAIL_USERNAME=
CODEBLOOM_EMAIL_PASSWORD=

# Used to toggle SpringDoc (OpenAPI & Swagger).
# Set this to true in development, false in production.
ENABLE_DOCUMENTATION=

# Used in the CI/CD pipeline.
# The Docker PAT is used to push up to Docker Hub
DOCKER_HUB_PAT=
# The Digital Ocean PAT and App ID are used to trigger a redeployment after pushing a new `latest` tag up to Docker Hub.
DIGITAL_OCEAN_APP_ID=
DIGITAL_OCEAN_PAT=

# React DSN URL
VITE_DSN=
# Spring DSN URL
SENTRY_DSN=
# Server URL
SERVER_URL=
