.link {
    line-height: 1;
    padding: 8px 12px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: var(--mantine-color-text);

    @mixin hover {
        background-color: var(--mantine-color-dark-1);
    }
}
