.footerWrapper {
    position: relative;
    min-height: 120px;
    overflow: hidden;
}

.footer {
    display: flex;
    min-height: 120px;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--mantine-color-dark-6);
}

.footerContents {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    background-color: var(--mantine-color-dark-6);
    align-items: center;

    @mixin smaller-than $mantine-breakpoint-md {
        padding: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
    }
}

.footerLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}
