header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px grey;
    padding: 10px;
}

header > :nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
