name: AI Command Handler
run-name: Triggering AI review commands on PR #${{ github.event.client_payload.slash_command.args.named.prId }}

on:
  repository_dispatch:
    types: [ai-command]

permissions:
  contents: read
  pull-requests: write

jobs:
  triggerAiReview:
    name: Trigger AI Review Commands
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Load secrets
        uses: ./.github/composite/load-secrets
        with:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          UNLOAD_ENVIRONMENTS: ci

      - name: Post /review command
        uses: ./.github/composite/send-message
        with:
          prId: ${{ github.event.client_payload.slash_command.args.named.prId }}
          message: "/review"
          token: ${{ env.GH_PAT }}

      - name: Post /describe command
        uses: ./.github/composite/send-message
        with:
          prId: ${{ github.event.client_payload.slash_command.args.named.prId }}
          message: "/describe"
          token: ${{ env.GH_PAT }}

      - name: Post /improve command
        uses: ./.github/composite/send-message
        with:
          prId: ${{ github.event.client_payload.slash_command.args.named.prId }}
          message: "/improve"
          token: ${{ env.GH_PAT }}
