name: Copy Production DB to Staging
run-name: Copy Production DB to Staging

concurrency:
  group: copy-db-pr-${{ github.event.client_payload.slash_command.args.named.prId }}
  cancel-in-progress: true

on:
  repository_dispatch:
    types: [copy-command]
  workflow_dispatch:
    inputs:
      prId:
        description: "PR to confirm success to"
        required: true

permissions:
  contents: read
  pull-requests: write
  statuses: write

jobs:
  getPRHead:
    name: Get PR head SHA
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.pr-head.outputs.result }}
    steps:
      - name: Get PR head SHA
        id: pr-head
        uses: actions/github-script@v7
        with:
          result-encoding: string
          script: |
            const payload = context.payload;
            const prId = payload.inputs ? payload.inputs.prId : payload.client_payload.slash_command.args.named.prId;

            const { data: pr } = await github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: parseInt(prId, 10)
            });

            return pr.head.sha;

  copy:
    name: Copy Production Database to Staging
    runs-on: ubuntu-latest
    needs: getPRHead
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.getPRHead.outputs.sha }}

      - name: Setup CI
        uses: ./.github/composite/setup-ci
        with:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Set up OpenJDK 25
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "25"
          cache: "maven"

      - name: Copy Production Database to Staging
        run: bun .github/scripts/copy-prod-db/index.ts
        env:
          PR_ID: ${{ github.event.client_payload.slash_command.args.named.prId || github.event.inputs.prId }}
          GITHUB_ACTOR: ${{ github.event.client_payload.github.actor || github.actor }}
          SHA: ${{ needs.getPRHead.outputs.sha }}
          RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
