name: Slash Command Dispatch
run-name: Slash Command Dispatch

on:
    issue_comment:
        types: [created]

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    slashCommandDispatch:
        runs-on: ubuntu-latest

        steps:
            - name: Load secrets
              uses: ./.github/composite/load-secrets
              with:
                GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
                GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
                UNLOAD_ENVIRONMENTS: ci

            - name: Slash Command Dispatch
              uses: peter-evans/slash-command-dispatch@v4
              with:
                  token: ${{ env.GH_PAT }}
                  commands: |
                      deploy
                  static-args: |
                      prId=${{ github.event.issue.number || -1 }}
