name: Slash Command Dispatch
run-name: Slash Command Dispatch

on:
    issue_comment:
        types: [created]

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    slashCommandDispatch:
        runs-on: ubuntu-latest

        steps:
            - name: Slash Command Dispatch
              uses: peter-evans/slash-command-dispatch@v4
              with:
                  token: ${{ secrets.GH_PAT }}
                  commands: |
                      deploy
                  static-args: |
                      prId=${{ github.event.issue.number || -1 }}
